.tabPanelWrapper {
  margin: 20px 0;
}

.resultsPanel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.cardItem {
  width: calc(50% - 16px);
}

.searchFilterFormWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}