.container {
    position: relative;
}

.banner {
    height: calc(100vh - var(--navbarHeight));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/study-image.jpg');
}

.bannerDetails {
    position: relative;
    height: 100%;
}