.cardWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: var(--colorWhite);
  padding: 24px 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.academicWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.academicDetails, .subInfoDetails {
  display: flex;
  align-items: center;
  gap: 6px;
}

.badge {
  /* margin-left: 10px; */
}

.subInfoWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.analysisInfo {
  display: flex;
  column-gap: 16px;
}