.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondaryColor);
  padding: 50px var(--paddingHorizontal);
}

.pageLinkWrapper {
  display: flex;
  gap: 50px;
}

.pageLinkItem {
  color: var(--colorGrey700);
  font-size: 18px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.socialLinks {
  display: flex;
  gap: 30px;
  color: var(--colorGrey400);

  a {
    color: var(--colorGrey400);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

